*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.task-container {
    width:100%;
    min-height:100vh;
    background: linear-gradient(135deg, #34e5eb, #34b4eb, #348ceb,#0a57a8);
    padding: 10px;
}

.to-do-task-add{
    width:100%;
    max-width: 540px;
    background: #fff;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

h2{
    color: #0a57a8;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dce0e5;
    border-radius: 30px;
    margin-left: 20px;
    padding-bottom: 5px 5px;
    /*border: 1px solid black;*/
}

#task-input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding: 16px 50px;;
    font-weight: 16px;
    /* border: 1px solid red; */
    border-radius: 40px;
}

#add-task-btn {
    border:none;
    outline:none;
    padding: 16px 50px;
    background:#34b4eb;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    /* border: 1px solid green; */
}

ul li{
list-style: none;
font-size:17px;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.checked{
    color: #555;
    text-decoration: line-through;
}

.checked::before{
    background-image: url(images/checked.png);
}

span{
    position: absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

span:hover{
    background: #b7b7b7;
}